@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/AboutUsStyle.css" rel="stylesheet" />

<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">
            Research and New Assets Exchange (RNAX)
        </h2>
        <h3 class="text-center">
            A democratic blockchain platform to galvanise research and innovative start-ups.
        </h3>
    </div>
</div>

<h2 class="team-text">Meet The Team</h2>
<h4 class="team-about">RNAX is a groundbreaking blockchain platform that has been made a reality by trailblazing female undergraduates hailing from Biotechnology and Computer Science backgrounds.</h4>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="~/images/team-images/SafiyaProfile.png" alt="Profile photo of Safiya Aafreen"/>
    <div class="card" >
        <img class="card-img-top" src="~/images/team-images/SafiyaProfile.png" alt="Profile photo of Safiya Aafreen" />
        <div class="card-body">
            <h5 class="card-title text-center">Safiya Aafreen</h5>
            <h6 class="card-subtitle text-muted text-center">Chief Executive Officer</h6>
            <hr>
            <p class="card-text text-justify">A visionary biomedical engineer and entrepreneur with vast experience in medical tech development and an avid thespian.</p>
        </div>
    </div>
    
    <div class="card" ">
        <img class="card-img-top" src="~/images/team-images/SamanthaProfile.png" alt="Profile photo of Samantha Ferrao</S>" width=" 50px" height="50px"/>
        <div class="card-body">
            <h5 class="card-title text-center">Samantha Ferrao</h5>
            <h6 class="card-subtitle text-muted text-center">Chief Information Officer</h6>
            <hr>
            <p class-="card-text text-justify">Samantha Ferrao is a recent B.E. Biotechnology graduate who strives for perfection in anything she does. She has undertaken research projects on various topics in biochemistry and nanobiotechnology during the past two years, as well as a molecular biology-based thesis in her final year. Other than imbibing biology-based material, she enjoys playing role-playing video games, as well as quizzing and learning to code.</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/images/team-images/NeerajaProfile.png" alt="Profile photo of Neeraja Narayanswamy" />
        <div class="card-body">
            <h5 class="card-title text-center">Neeraja Narayanswamy</h5>
            <h6 class="card-subtitle text-muted text-center">Chief Operating Officer</h6>
            <hr>
            <p class="card-text text-justify">Neeraja Narayanswamy is a student of BITS Pilani Dubai Campus. A cyber security and machine learning enthusiast she has published a paper in the combining both her interests.She is always willing to learn new things and keeps enrolling herself in new courses during her free time</p>
        </div>
    </div>

    <div class="card" >
        <img class="card-img-top" src="~/images/team-images/VijayaProfile.png" alt="Profile photo of Vijaya" />
        <div class="card-body">
            <h5 class="card-title text-center">Vijaya Gajanan Buddhavarapu</h5>
            <h6 class="card-subtitle text-muted text-center">Chief Technology Offier</h6>
            <hr>
            <p class="card-text text-justify">Vijaya is a Microsoft Learn Student Ambassador with a passion for Machine Learning. Her primary technological interests are Machine Learning Applications in the domain of Medical Image Analysis, Machine Learning using Cloud (Microsoft Azure) and Web Development.</p>
        </div>
    </div>
</div>