@{
    ViewData["Title"] = "About Us";
}

<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">
            Research and New Assets Exchange (RNAX)
        </h2>
        <h3 class="text-center">
            A democratic blockchain platform to galvanise research and innovative start-ups.
        </h3>
    </div>
</div>