@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/IndexStyle.css" />
<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">
            Research and New Assets Exchange (RNAX)
        </h2>
        <h3 class="text-center">
            A democratic blockchain platform to galvanise research and innovative start-ups.
        </h3>
    </div>
</div>


<h3 class="text-heading">The Problem:</h3>

<div class="intro-text">
    <p>
        The Pandemic has adversely affected every sector of our lives and has pushed back research in many healthcare fields. A consolidated and transparent platform is essential for start-ups and researchers to gain the exposure they need and accelerate the development of their innovations whether it is for combatting the pandemic or other domains to better mankind right from their homes. The beneficiaries of such innovations , the denizens of our nations, also deserve to be directly involved and help actualise the solutions to their issues. We aim to provide a disruptive answer to these challenges.
    </p>
</div>

<h3 class="text-heading"> Our Solution:</h3>

<div class="video">
    <iframe width="720" height="480" src="https://www.youtube.com/embed/QTnHX5OtQqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<h3 class="text-heading">How does it work?</h3>

<div class="working">
    <img class="working-image" src="~/images/Black_Group_Banner.png" style="height:50vh;" />
    <img class="working-image" src="~/images/Black_RNA_Token_Banner.png" style="height:50vh;" />
    <img class="working-image" src="~/images/Black_Handshake_Banner.png" style="height:50vh;" />
    <img class="working-image" src="~/images/Black_Trophy_Banner.png" style="height:50vh" />
</div>

