
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="card-group">
    <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Log In</h5>
            <p>
                <h6>Email</h6>
                <input type="email" />
            </p>
            <p>
                <h6>Password</h6>
                <input type="password" />
            </p>

            <p><button class="btn-primary">Log In through Facebook</button></p>
            <p><button class="btn-primary">Log In through Google</button></p>
            <p><button class="btn-primary">Log In</button></p>
        </div>
    </div>
    <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
            <p class="card-body">
                <h6>Name</h6>
                <input type="text" />
            </p>
            <p class="card-body">
                <h6>Email</h6>
                <input type="email" />
            </p>
            <p class="card-body">
                <h6>Password</h6>
                <input type="password" />
            </p>

            <p class="card-body">
                <h6>Confirm Password</h6>
                <input type="password" />
            </p>

            <button class="btn-primary">Sign Up</button>

        </div>
    </div>
    </div>


    
