
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/LoginProfileContactUs.css" rel="stylesheet" />

<div class="card-group">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Log In</h5>
            <p>
                <h6>Email</h6>
                <input type="email" />
            </p>
            <p>
                <h6>Password</h6>
                <input type="password" />
            </p>
            <p><button class="submit-button"><a class="nav-link" asp-controller="Home" asp-action="Profile">Log In</a></button></p>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
            <p class="card-body">
                <h6>Name</h6>
                <input type="text" />
            </p>
            <p class="card-body">
                <h6>Email</h6>
                <input type="email" />
            </p>
            <p class="card-body">
                <h6>Password</h6>
                <input type="password" />
            </p>

            <p class="card-body">
                <h6>Confirm Password</h6>
                <input type="password" />
            </p>

            <button class="submit-button">Sign Up</button>

        </div>
    </div>
</div>



