
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h1>Login</h1>

<p>
    <h3>Email</h3>
    <input type ="email" />
</p>
<p>
    <h3>Password</h3>
    <input type="password"/>
</p>


<button>Log In</button>