@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<h3>Name</h3>
<input />
<h3>Email</h3>
<input />
<h3>Phone Number</h3>
<input />
<h3>Question</h3>
<input />
