@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link href="~/css/LoginProfileContactUs.css" rel="stylesheet" />
<p>
    <h3>Name</h3>
    <input />
</p>
<p>
    <h3>Email</h3>
    <input type="email" />
</p>
<p>
    <h3>Phone Number</h3>
    <input type="number" />
</p>
<p>
    <h3>Question</h3>
<textarea cols="100" rows="10"></textarea>
</p>
<button class="submit-button">Submit</button>
<p>
    Drop an email at:

    rnax.org@gmail.com
</p>
