
@{
    ViewData["Title"] = "Profile";
}


<img src="~/images/Account Image.jpeg" />
@*<h1>Hello Neel</h1>

<div class="card-group">
    <div class="card">

        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statisctics</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">My Project</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>

        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Recent Projects</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">CrisprHome</li>
                <li class="list-group-item">NanoStar</li>
                <li class="list-group-item">AgriRobotics</li>
            </ul>

        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">All Projects</h5>
            <p>Category: <input type="search" /></p>
            <p>Relevance: <input type="search" /></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">SugarCells</li>
                <li class="list-group-item">SaliCare</li>
                <li class="list-group-item">TypeC</li>
            </ul>

        </div>
    </div>
</div>*@
