
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background: url(../images/pexels-rodolfo-clix-1366942.jpg) center center no-repeat;
    background-size: cover;
    width: 99vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .jumbotron h2 {
        font-family: Lato;
        color: white;
        background-color: white;
        background-image: linear-gradient(to right, #7dffeb, #ebed1c);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -mox-text-fill-color: transparent;
        margin: 0px;
    }

    .jumbotron h3 {
        font-family: Lato;
        color: white;
        margin-top: 10px;
    }

.working {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.working-image {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.video {
    margin: 1rem;
}
.intro-text {
    margin: 1rem;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.text-heading {
    text-decoration: underline;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .working {
        flex-direction: column;
    }

    .working-image {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}